$colors: (
    common: (
        white: #ffffff,
        black: #000,
    ),
    heading: (
        primary: #085233,
        secondary:#696bfa,
        b-light:#085233FF,
    ),
    grey: (
        1:#F8FAFA,
        2:#F5F6F8,

    ),
    text: (
        body:#000,
        1:#000,
        2:#777C90,
    ),
    theme: (
        1: #696bfa,
        2: #F7F8F9,

    ),
    border: (
        1: #fff,
        2: #389184,
    )
);
